<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomfin46.myworldiscomics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".Activities.HubActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Activities.SearchResultsActivity" />
        </activity>

        <activity
            android:name=".Activities.CharacterActivity"
            android:label="@string/title_activity_character">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Activities.SearchResultsActivity" />
        </activity>

        <activity
            android:name=".Activities.TeamActivity"
            android:label="@string/title_activity_team">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Activities.SearchResultsActivity" />
        </activity>

        <activity
            android:name=".Activities.IssueActivity"
            android:label="@string/title_activity_issue">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Activities.SearchResultsActivity" />
        </activity>

        <activity
            android:name=".Activities.GenericResourceActivity"
            android:label="@string/title_activity_generic_resource">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Activities.SearchResultsActivity" />
        </activity>

        <activity
            android:name=".Activities.VolumeActivity"
            android:label="@string/title_activity_volume">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".Activities.SearchResultsActivity" />
        </activity>

        <activity
            android:name=".Activities.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>
